
h1{
    color: whitesmoke;
    font-size: 50px;

}

h2{
    color: black;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

.header {
    background-color: rgb(60, 97, 61);
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: -10px;
    
}

#rectangle {
    width: 400px;
    height: 80%;
    background:white;
    position:absolute;
    top:58%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 25px;
}

#result ul {
    list-style-type: none;
    padding: 0;
}
#result li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;

}
#result li:hover {
    background-color: #f0f0f0;
}


#Green{
    color: greenyellow;
}
#Red{
    white-space: pre;
    color: red;

}

#giveupanswer{
    display:none;
    color: red;
}